p.my-class {
    width: 70%;
    background: #fff;
    padding: 30px;
    margin: 0 auto;
}
.container-fluid.dummy {
    background: #f7f8fa;
}
.test-class {
    padding: 20px;
}

.timeline{
	position: relative;
}

/*Line*/
.timeline>li::before{
	content:'';
	position: absolute;
	width: 1px;
	background-color: #E7E7E7;
	top: 0;
	bottom: 0;
	left:-19px;
}

/*Circle*/
.timeline>li::after{
    text-align: center;
    padding-top:10px;
	z-index: 10;
	content:counter(item);
	position: absolute;
	width: 50px;
	height: 50px;
	border:3px solid white;
	background-color: #E7E7E7;
	border-radius: 50%;
	top:0;
	left:-43px;
}

/*Content*/
.timeline>li{
	counter-increment: item;
	padding: 10px 10px;
	margin-left: 0px;
	min-height:70px;
	position: relative;
	background-color: white;
	list-style: none;
}
.timeline>li:nth-last-child(1)::before{
	width: 0px;
}