.selectcss{
    width: 130px;
    height: 36px;
 
    background: #FFFFFF;
    border: 1px solid rgba(107, 107, 106, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

    padding-left: 5%;
}

.dis_Flex{
    display: inline-flex;
}

.mr1{
    margin-right: 8%
}

.heading_style2 {
    font-family: 'Poppins';
font-style: normal;
font-weight: bold;
color: #6B6B6A;

}

@media screen and (max-width: 991px) {
    .selectcss{
        width: auto;
  }
}


