
.PaymentInformation .pi_rightbox {
    width: 100%;
    height: auto;
}

.PaymentInformation .Profile_info {
    width: 100%;
    padding-left: 8px;
}

.PaymentInformation .pi_icon{
    width: 58px;
    height: 59px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

.pi_foot{
  
    background-repeat: no-repeat;
    height: 28vh;
    left: 0px;
    margin-top: 0.5%;
    background-size: contain;
    background-position: bottom left;
    position: absolute;
    bottom: 0px;
    right: 0;

}
.Paymentinfo_footer_img_padding{
    padding: 100px;
}

.PaymentInformation .pi_Head{
    /* margin-top: 17px; */
    /* margin-left: 116px; */
    font-family: Poppins;
font-style: normal;
font-size: 20px;
}

.PaymentInformation .pi_Para{
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 20px;
/* margin-left: 116px; */
width:280px

}

.PaymentInformation .ExpireDate{
    display: inline-flex;
}


.PaymentInformation .PiDiv{
        display: flex;
        /* margin-top: 50px; */
}

.PaymentInformation .headingStyle{
    font-family: Poppins;
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 20px;

color: #6B6B6A;
}

@media screen and (max-width: 992px) {
    .custom input.form-control::placeholder{
        font-size: 10px;
    }
  
  }
@media screen and (max-width: 775px) {
    .pi_foot{
        height: 202px;
    }
  
  }
@media screen and (max-width: 603px) {
    .pi_foot{
        height: 289px;
    }
  
  }
