

.Root {
  height: 100vh;

}




.tabbar .tabbarMain_bg{
  background: #f7f8fa;
}

.tabbar .tabbar_sidebar_bg{
  background: white;
}


.tabbar .tabbar_next_pre_btn_background{
  background: #f7f8fa;
}
.tabbar .tabbar_panel_background{
  background: #f7f8fa;
}

.tabbar .Buttoncls {
  display: inline-block;
  padding: 7px 15px;
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(115 115 115);
    background: #ffffff;
    border :1px solid #6B6B6A;
    border-radius: 25px;
    border: 1px solid;
    height: 40px;
}
.tabbar .Buttoncls:focus,
.tabbar .Buttoncls:hover {
  outline: 0;
  /* background: #899499; */
}
.Tab.is-active .Button {
    background: #ffffff;
    color: #EE9821;
    border-radius: 25px;
    border: 2px solid;
}
.tabbar .ButtonclsActive {
    background: #ffffff;
    color: #EE9821;
    border-radius: 25px;
    border: 2px solid;
}

.container.tabbarContainer {
  max-width: 1921px;
}


.tabbar .line{
width: 0px;
left: 72px;
border: 1px dashed #a0a0a0;
height: 40px;
margin-left: 21px;
}
.Tab.is-active .line{
border: 1px dashed #EE9821;
}
.tabbar .lineActive{
border: 1px dashed #EE9821;
}

.but{
  background: #ffffff;
  border :1px solid #6B6B6A;
  border-radius: 25px;
  border: 2px solid;
}

.tabbar .text2{
  font-family: Poppins;
  line-height: 20px;
  color: #6B6B6A;
  margin: 3%;
  font-weight: 600;
  font-size: 16px;
  padding-left: 1%;
}

.tabbar .tb_nextButton{
 
    background-color: #EE9821;
    width: 116px;
    height:36px;
    border-radius: 2px;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 500px;
    font-size: 12px;
    line-height: 20px;
    float: right;
    margin-right: 5%;
    cursor: pointer;
    border: none;

}

.tabbar .tb_prevButton{

  border: none;
  height: 37px;
  width: 16%;
  border-radius: 18px;
  border: none;
  cursor: pointer;
  font-size: 13px;
}


.tb_prevButton:focus,
.tb_prevButton:hover {
  outline: 0;
  background: #899499;
}

.left_img{
   margin-top: 6%;
}

.tabbar .Main {
  overflow:hidden;
}

.row.tabbarMainRow {
  display: block!important;
}

.tabbar_min_height{
  min-height: 100vh;
} 




@media screen and (max-width: 1105px) {
  .tabbar .text2 {
    font-size: 13px;
  }

}


@media screen and (max-width: 965px) {
  .tabbar .text2 {
        font-size: 11px;
  }




}
@media screen and (max-width: 873px) {
  .tabbar .text2 {
    font-size: 14px;
  }
  .tabbar .Buttoncls{
    padding: 6px 14px;
    border-radius: 22px;
    height: 38px;
}
  .tabbar .line {
    
    margin-left: 19px;
}



}
@media screen and (max-width: 786px) {
            .tabbar .text2 {
                             font-size: 10.5px;
                          }
            .tabbar .Buttoncls{
              /* padding: 5px 9px; */
              /* border-radius: 25px; */
            /* height: 29px; */
            padding: 5px 12px;
            border-radius: 22px;
            height: 37px;
            }
            

            .tabbar .line {
              
                           margin-left: 17px;
                       }

}


.tabbar .nextButtonDiv{
  width: 100%;
  float: left;
}
    
